APP_ENV=local
APP_DEBUG=true
APP_KEY=3gnn2yzpX4gOOA3UG19fLDtRH0RQNP6w

DB_HOST=localhost
DB_DATABASE=galleria_artotheek
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null